<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style id="server-side-styles">
      <%- data.styles %>
    </style>
  </head>
  <body>
    <div id="root"><%- data.html || '' %></div>
    <%_ if (data.preloadedState) { _%>
    <script>
      window.__PRELOADED_STATE__ = <%- JSON.stringify(data.preloadedState).replace(/</g, '\\u003c') %>;
    </script>
    <%_ } _%>
    <script src="<%= assets.main.js %>"></script>
  </body>
</html>
