{
  "parser": "babel-eslint",
  "extends": [
    "@exeto/eslint-config",
    "@exeto/eslint-config-react",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "react": {
      "version": "16.6"
    }
  }
}
